@page
@model McpWebApp.Pages.ContactAddresses.IndexModel
@{
    ViewData["Title"] = "Contact Addresses";
}
<h1>Contact Addresses</h1>
<p>
    <a asp-page="Create" asp-route-id="@Request.Query["id"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Address Type</th>
            <th>Address1</th>
            <th>Address2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Contact Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ContactAddresses) {
        <tr>
            <td>@item.AddressType</td>
            <td>@item.Address1</td>
            <td>@item.Address2</td>
            <td>@item.City</td>
            <td>@item.State</td>
            <td>@item.Zip</td>
            <td>@item.ContactId</td>
            <td>
                <a asp-page="Edit" asp-route-id="@item.Id" asp-route-contactId="@item.ContactId">Edit</a> |
                <a asp-page="Details" asp-route-id="@item.Id" asp-route-contactId="@item.ContactId">Details</a> |
                <a asp-page="Delete" asp-route-id="@item.Id" asp-route-contactId="@item.ContactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
